@page "/jobedit/{id:int}"
@using DataLayer.Models
@using JobUI.Services
@inject IProductServices productServices
@inject NavigationManager Navigation;

<h3>Edit Job</h3>
<from>
 
           
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control"  @bind="@job.title"/>
                </div>   <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" @bind="@job.description"/>
                </div>    <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" @bind="@job.locationId"/>
                </div>    <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Save" @onclick="@EditJob" />
                </div>
           

        </from>


@code {
    [Parameter]
    public int id { get; set; }
    jobs job = new jobs();
    public List<jobs> Data { get; set; }

    protected override async Task OnInitializedAsync()
    {

        job = await productServices.getJobId(id);

    }

   
    protected async Task EditJob()
    {
        await productServices.EditJob(job);
        Navigation.NavigateTo("JobList");
    }
}